<h1>取得結果</h1>

<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <%= result.id %>
      <%= result.name %>
      <% result.ideas.each do |idea| %>
        <%= idea.body %>
      <% end %>
    </li>
  <% end %>
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>